
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #1d1b4e, #7a1fa2, #3f51b5);
    color: #fff;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

nav h2 {
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 2px solid #fff;
}


.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.home .text {
    max-width: 50%;
}

.home h1 {
    font-size: 55px;
    font-weight: 700;
}

.home h3 {
    font-size: 28px;
    margin-top: 10px;
    color: #dcdcdc;
}

.home p {
    margin: 20px 0;
    line-height: 1.7;
}

.home button {
    border: 2px solid #fff;
    padding: 10px 25px;
    font-size: 17px;
    background: transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.home button:hover {
    background: #fff;
    color: #000;
}


.home-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow: hidden;
    padding: 10px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.about {
    padding: 80px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.about h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.projects {
    padding: 80px;
}

.project-box {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.project-box h3 {
    margin-bottom: 10px;
}


.contact {
    padding: 80px;
    text-align: center;
}

.contact input,
.contact textarea {
    width: 60%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.contact button {
    margin-top: 15px;
    padding: 12px 25px;
    border: none;
    background: #fff;
    color: #000;
    border-radius: 20px;
    cursor: pointer;
}
.project-box {
    display: flex;
    align-items: center;
    gap: 25px;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.project-box img {
    width: 280px;   
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.project-info h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    line-height: 1.6;
}
